name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    outputs:
      image_tag: ${{ steps.vars.outputs.TAG }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set image tag
      id: vars
      run: echo "TAG=${GITHUB_SHA::7}" >> $GITHUB_OUTPUT

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Frontend
      uses: docker/build-push-action@v5
      with:
        context: ./frontend
        push: true
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/lcit-frontend:latest
          ${{ secrets.DOCKER_USERNAME }}/lcit-frontend:${{ steps.vars.outputs.TAG }}

    - name: Build and push Backend
      uses: docker/build-push-action@v5
      with:
        context: ./backend
        push: true
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/lcit-backend:latest
          ${{ secrets.DOCKER_USERNAME }}/lcit-backend:${{ steps.vars.outputs.TAG }}

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Copy k8s files to EC2
      uses: appleboy/scp-action@v0.1.7
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        source: "k8s/*"
        target: "~/app"

    - name: Deploy to Kubernetes
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USER }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          if command -v k3s &> /dev/null; then
            export KUBECONFIG=/etc/rancher/k3s/k3s.yaml
            alias kubectl='k3s kubectl'
          fi

          cd ~/app/k8s

          echo "Checking cluster..."
          kubectl get nodes

          echo "Applying manifests..."
          kubectl apply -f mongo.yaml
          kubectl apply -f backend.yaml
          kubectl apply -f frontend.yaml
          kubectl apply -f ingress.yaml

          echo "Restarting deployments..."
          kubectl rollout restart deployment/backend
          kubectl rollout restart deployment/frontend

          echo "Waiting for rollout..."
          kubectl rollout status deployment/backend
          kubectl rollout status deployment/frontend

          echo "Deployment successful."
